.editor {
    height: 100%;
    border: 1px solid $clr-light;

    &-body {
        flex-grow: 1;

        & > * {
            height: 100%;
        }
    }
    &-footer {
        display: flex;
        
        & > * {
            margin-bottom: 0;
        }
        &-key-input {
            flex-grow: 1;
        }
        &-key-select {
            width: rem(160px);
        }
    }
    
    form {
        height: 100%;
    }
}