.ant-layout-sider {
    background-color: $clr-dark;
    padding: rem(6px);
    transition: all .3s ease-in-out;

    
    .ant-menu-item {
        cursor: default;
    }
    .ant-menu-title-content {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .entry-seperator {
        display: inline-block;
        margin: 0 rem(8px);
        color: $clr2;
    }
    .entry-actions button {
        color: $clr-light;
        border-color: $clr-light;
        
        &:not(:last-child) {
            margin-inline-end: rem(4px);
        }
    }
    .ant-typography {
        max-width: 5ch;
        line-height: 1.2;
    }
    code {
        background: $clr-light;
        color: $clr-dark;
    }

    &-children {
        height: 0;
        overflow-y: auto;
        overflow-x: hidden;

        h1 {
            background-color: lighten($clr-dark, 10%);
            color: $clr-light;
            font-size: rem(24px);
            line-height: 2;
            text-align: center;
            position: sticky;
            top: 0;
            transition: line-height .3s ease-in-out;
        }
    }
    &-collapsed {
        .ant-layout-sider-children {
            // overflow: hidden;

            h1 {
                line-height: 1.2;
            }
        }
        .entry-seperator,
        .entry-actions {
            display: none;
        }
    }
    &-trigger {
        transition: all .3s ease-in-out;
        background-color: lighten($clr-dark, 10%);
        left: 0;
    }
}

.ant-menu-inline-collapsed-tooltip {
    display: none;
}