@font-face {
    font-family: ubuntu;
    font-weight: lighter;
    src: url('../../assets/fonts/Ubuntu-Light.ttf'), local('sans-serif');
}

@font-face {
    font-family: ubuntu-med;
    font-weight: normal;
    src: url('../../assets/fonts/Ubuntu-Medium.ttf'), local('sans-serif');
}

@font-face {
    font-family: ubuntu-bold;
    font-weight: bold;
    src: url('../../assets/fonts/Ubuntu-Bold.ttf'), local('sans-serif');
}